USE [master]
GO
/****** Object:  Database [Drug]    Script Date: 08/03/2021 13:39:31 ******/
CREATE DATABASE [Drug]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Drug', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Drug.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Drug_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Drug_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Drug].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Drug]
GO
USE [Drug]
GO
/****** Object:  Table [dbo].[CompensationRecords]    Script Date: 08/03/2021 13:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompensationRecords](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreateTime] [datetime2](7) NOT NULL,
	[DrugID] [int] NULL,
	[PayableSum] [float] NOT NULL,
	[CompensationTypeID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CompensationRecords] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compensations]    Script Date: 08/03/2021 13:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compensations](
	[ID] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[DiscountFormula] [nvarchar](max) NULL,
 CONSTRAINT [PK_Compensations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drugs]    Script Date: 08/03/2021 13:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drugs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RetailPrice] [float] NOT NULL,
	[BasicCompensationPrice] [float] NOT NULL,
	[CompensationPercent] [float] NOT NULL,
 CONSTRAINT [PK_Drugs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompensationRecords_CompensationTypeID]    Script Date: 08/03/2021 13:39:31 ******/
CREATE NONCLUSTERED INDEX [IX_CompensationRecords_CompensationTypeID] ON [dbo].[CompensationRecords]
(
	[CompensationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompensationRecords_DrugID]    Script Date: 08/03/2021 13:39:31 ******/
CREATE NONCLUSTERED INDEX [IX_CompensationRecords_DrugID] ON [dbo].[CompensationRecords]
(
	[DrugID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CompensationRecords]  WITH CHECK ADD  CONSTRAINT [FK_CompensationRecords_Compensations_CompensationTypeID] FOREIGN KEY([CompensationTypeID])
REFERENCES [dbo].[Compensations] ([ID])
GO
ALTER TABLE [dbo].[CompensationRecords] CHECK CONSTRAINT [FK_CompensationRecords_Compensations_CompensationTypeID]
GO
ALTER TABLE [dbo].[CompensationRecords]  WITH CHECK ADD  CONSTRAINT [FK_CompensationRecords_Drugs_DrugID] FOREIGN KEY([DrugID])
REFERENCES [dbo].[Drugs] ([ID])
GO
ALTER TABLE [dbo].[CompensationRecords] CHECK CONSTRAINT [FK_CompensationRecords_Drugs_DrugID]
GO
USE [master]
GO
